@model dynamic
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "ASOS ASAP";
}
@section Styles {
    <link href="@Url.Content("~/stylesheets/cover.css")" rel="stylesheet" type="text/css" />
}
<div class="cover-container">
    <div class="inner cover">
        <div class="brand">Asos Marketplace</div>
        @using (Html.BeginForm("ViewProducts", "Home", FormMethod.Get))
        {
            <label for="postcode">Postcode:</label>
            @Html.TextBox("postcode")
            <input type="submit" value="Find things near me" />
        }
    </div>
</div>