@{
    ViewBag.Title = "ASOS ASAP";
}

<h1>ASOS ASAP</h1>

@using (Html.BeginForm("ViewProducts", "Home", FormMethod.Get))
{
    @Html.TextBox("postcode")

    <input type="submit" value="Find things near me" />
}
