@model Asos.FashionEmergency.Web.Controllers.ProductPurchaseViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ASOS ASAP - Products";
}
@section Styles {
    <link href="@Url.Content("~/stylesheets/view-products.css")" rel="stylesheet" type="text/css" />
}

<h2>Order complete</h2>
<h3>Crisis averted</h3>