@model Asos.FashionEmergency.Web.Controllers.OrderCompleteViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ASOS ASAP - Order Complete";
}
@section Styles {
    <link href="@Url.Content("~/stylesheets/view-products.css")" rel="stylesheet" type="text/css" />
}

<h2>Order complete</h2>
<h3>Crisis averted</h3>

<p>Store name: @Model.StoreName</p>
<p>Store postcode: @Model.StorePostcode</p>
<p>Destination postcode: @Model.DestinationPostcode</p>
