/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #EEEBEB;
}

body {
    color: #000;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Cover
 */

.brand {
    width: 400px;
    height: 148px;
    color: transparent;
    text-shadow: none;
    background-image: url('../images/asos-logo.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cover > .brand {
    margin: 0 auto 40px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
*  Header
*/
.masthead {
    top: 0;
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
    position: fixed;
    bottom: 0;
}

/*
 * Affix and center
 */

.masthead, .mastfoot {
    position: fixed;
}

/* Handle the widths */
.masthead,
.mastfoot,
.cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
}
