.product {
    padding: 0;
}
.product img {
    display: block;
    height: auto;
    width: 100%;
}
.product .detail  {
    background-color: rgba(0,0,0,0.6);
    font-size: 40px;
    line-height: 65px;
    bottom: 0;
    right: 0;
    padding: 0 15px;
    position: absolute;
    width: 100%;
    color: white;
 }
@media only screen and (max-width: 530px) {
   .product .detail  { font-size: 30px; }
}
@media only screen and (max-width: 430px) {
   .product .detail  { font-size: 22px; }
}
.price, .availability {
    position: relative
}
.price {
    float: right
}
.price:before {
    content: '£';
}
.availability {
    float: left
}
.availability:after {
    content: 'HR';
}
.product-info {
    width: 450px;
    max-width: 80%;
}